/* * {
	margin:0;
	padding:0;
} */
#main {
	-webkit-column-width:202px;
	-moz-column-width:202px;
	-o-column-width:202px;
	-ms-column-width:202px;
}
.box {
	padding:10px 0 0 15px;
	/* float: left;	 */
}
.pic {
	padding:10px;
	width: 165px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc
}
.pic img {
	display: block;
	width: 165px;
	height: auto;
}