<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui@2.4.11/lib/theme-chalk/index.css"
    />
    <style>
      .SelectAll__checkAll {
        width: 100%;
        box-sizing: border-box;
        margin-right: 0px;
        padding-left: 18px;
        line-height: 34px;
        font-size: 12px;
      }
      .el-checkbox__label {
        font-size: inherit;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h3>select-support-all</h3>
      <select-support-all
        v-model="selectedOpts"
        multiple
        collapse-tags
        filterable
        placeholder="Please Select"
      >
        <span>text</span>
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        >
        </el-option>
      </select-support-all>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.4.11/lib/index.js"></script>
    <script>
      function hyphenToPascal(str) {
        return str.replace(/(^|\-)([a-z])/g, v => v.toUpperCase())
      }
      const selectSupportAll = {
        name: 'select-support-all',
        template: `
            <el-select :value="value" v-bind="$attrs" v-on="$listeners"  @input.native="e=>isSelectAllShow=e.target.value.trim()===''">
              <el-checkbox
              v-show="isSelectAllShow"
              :value="isSelectAll"
              class="SelectAll__checkAll"
              @input="selectAll(isSelectAll)"
              >{{selectAllLabel}}</el-checkbox>
               <slot></slot>
            </el-select>
            `,
        props: {
          value: {
            require: true
          },
          selectAllLabel: {
            default: '全选'
          }
        },
        data() {
          return {
            isSelectAllShow: true
          }
        },
        computed: {
          isSelectAll() {
            return this.value.length === this.optionSlots.length
          },
          optionSlots() {
            return this.$slots.default.filter(o => {
              if (
                typeof o.componentOptions !== 'object' ||
                o.componentOptions === null
              ) {
                return false
              }
              return (
                ELEMENT.Option.name === hyphenToPascal(o.componentOptions.tag)
              )
            })
          }
        },
        methods: {
          selectAll(isSelectAll) {
            if (isSelectAll === true) {
              this.$emit('input', [])
              return
            }
            if (isSelectAll === false) {
              this.$emit(
                'input',
                this.optionSlots.map(o => o.componentInstance.value)
              )
              return
            }
          }
        }
      }
      window.app = new Vue({
        el: '#app',
        components: {
          selectSupportAll
        },
        data: {
          selectedOpts: [],
          options: [
            {
              value: 'Option1',
              label: 'Option1'
            },
            {
              value: 'Option2',
              label: 'Option2'
            },
            {
              value: 'Option3',
              label: 'Option3'
            }
          ]
        },
        methods: {}
      })
    </script>
  </body>
</html>
