<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui@2.4.11/lib/theme-chalk/index.css"
    />
  </head>
  <body>
    <div id="app">
      <h3>ts-date</h3>
      <ts-date
        v-model="tsDate.startTime"
        :type="tsDate.type"
        :attr2="tsDate.attr2"
      ></ts-date>
      <!-- equals -->
      <!-- <ts-date
        :value="tsDate.startTime"
        @input="tsDate.startTime=arguments[0]"
        type="date"
      ></ts-date> -->
      <h3>el-date-picker</h3>
      <el-date-picker v-model="endTime" type="datetime"> </el-date-picker>
      <!-- equals -->
      <!-- <el-date-picker
        :value="endTime"
        @input="endTime=arguments[0]"
        type="datetime"
      >
      </el-date-picker> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.4.11/lib/index.js"></script>
    <script>
      const TsDate = {
        name: 'ts-date',
        template: ` 
        <el-date-picker
           :value="value"
          v-bind="$attrs"   
          v-on="listeners"
          >
        </el-date-picker>
        `,
        props: {
          // you have to set value in props because you can't get it if user used v-model in <ts-date>
          value: {
            require: true
          }
          // other one way binding attributes can be accessed by $attrs
        },
        computed: {
          listeners() {
            const listeners = {
              ...this.$listeners
            }
            return listeners
          }
        },
        created() {
          // you will find type,attr2 in $attrs, that's because we set it. Vue gives us this API to access related attributes.

          // you will find input in $listeners, that's because Vue set @input=tsDate.startTime=arguments[0] and :value="tsDate.startTime" when he saw v-model="tsDate.startTime"
          // Though we didn't do that.
          window.tsDate = this
          console.log('tsDate', this.$attrs, this.$listeners, this.$props)
        }
      }
      window.app = new Vue({
        el: '#app',
        components: {
          TsDate
        },
        data: {
          endTime: new Date(),
          tsDate: {
            startTime: new Date(),
            type: 'date',
            attr2: 2
          }
        },
        created() {
          window.vm = this
        }
      })
    </script>
  </body>
</html>
